<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link>
      <number-display />
      <number-submit />
    </div>
    <router-view />
  </div>
</template>

<script>
import NumberDisplay from "./components/NumberDisplay.vue";
import NumberSubmit from "./components/NumberSubmit.vue";
export default {
  components: { NumberDisplay, NumberSubmit },
  name: "App",
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
